<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Log In{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'drink/style.css' %}">
</head>
<body>
<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <header>
        <!-- Image and text -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid" >
              <a class="navbar-brand" href="">
                  {% load static %}
                  <img src="{% static 'drink/images/log.png' %}" alt="" width="170" height="60">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
        </nav>
    </header>
    <section>

        <div class="container-xl">
            <div class="row">
                <div class="col-12 "><h1 align="center">Welcome to the Drinkder website</h1></div>
                <div class="col-12 align-self-center" align="center">
                    <form method="post">
                      {% csrf_token %}

                        {% for f in form %}
                        <div class="mb-3">
                            <label class="form-label" for=" {{ f.id_for_label }} " style="font-size: 18pt;">{{ f.label }}: </label>
                            <p>{{ f }}</p>
                            <div class="form-error"><h4>{{ f.errors }}</h4></div>
                        </div>
                        {% endfor %}
                        <!--{% if form.errors %}
                          <p>Your username and password didn't match. Please try again.</p>
                        {% endif %}

                        {% if next %}
                          {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.</p>
                          {% else %}
                            <p>Please login to see this page.</p>
                          {% endif %}
                        {% endif %}
                      {{ form.as_p }}-->
                      <button type="submit">Log In</button>
                    </form>
                    <p class="nav-link" style="font-size: 18pt;">If you have an account, log in, if not, <a href="{% url 'signup' %}" style="color: black;">register</a> on the site.</p>

                </div>
            </div>
        </div>
    </section>

</body>
</html>