<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sign Up{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'drink/style.css' %}">
    <style>
       li {
        list-style-type: none; /* Убираем маркеры */
       }
       ul {
        margin-left: 0;
        padding-left: 0;
       }
  </style>
</head>
<body>
    <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <header>
            <!-- Image and text -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid" >
                  <a class="navbar-brand" href="{% url 'login' %}">
                      {% load static %}
                      <img src="{% static 'drink/images/log.png' %}" alt="" width="170" height="60">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
            </nav>
        </header>
        <section>

            <div class="container-xl">
            <div class="row">
                <div class="col-12 "><h1 align="center">Sign Up</h1></div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2"></div>
                <div class="col-md-auto">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_email" class="form-label" style="font-size: 18pt;">Email address</label>
                            <input class="form-control" type="email" name="email" autofocus required id="id_email" style="text-transform: lowercase;">
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label" style="font-size: 18pt;">Password</label>
                            <input class="form-control" type="password" name="password1" required id="id_password1">
                        </div>
                        <div class="mb-3">
                            <label for="d_password2" class="form-label" style="font-size: 18pt;">Repeat password</label>
                            <input class="form-control" type="password" name="password2" required id="d_password2">
                        </div>
                        <!--{{ form.as_p }}-->
                        <button type="submit">Sign Up</button>

                    </form>
                </div>
                <div class="col col-lg-2"></div>
                <div class="col-12 align-self-center" align="center">
                    {% for f in form %}
                        <div class="form-error"><h4>{{ f.errors }}</h4></div>
                        {% endfor %}
                </div>
            </div>
        </div>

        <div class="container-xl">
            <div class="row">
                <div class="col-12 align-self-center" align="center">
                    <p class="nav-link" style="font-size: 18pt;">Return to <a href="{% url 'login' %}" style="color: black;">login</a> page</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>