body{
    background: #EAE7DC;
    font-family: Comic Sans MS;
}
header .container-fluid {
    background: #D8C3A5;

}
.navbar {
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.bg-light {
    background-color: #d0b083!important;
}
.container-xl {
    background-color: #white;
}
.img-thumbnail {
    background-color: #d0b083;
}
h1 {

    font: fantasy;
}
em {

}
.list-group-item {
    background-color: #E9C2A5;
}
.row{
    font: serif;

}
td{
    font-size: 16pt;

}
th{
    font-size: 18pt;

}