body{
    background: #EAE7DC;
    font-family: Comic Sans MS;
    color: #775218;
}
header .container-fluid {
    background: #D8C3A5;
}
.navbar {
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.bg-light {
    background-color: #d0b083!important;
}
.container-xl {
    background-color: #white;
}
.img-thumbnail {
    background-color: #d0b083;
}
h1 {
    font: fantasy;
}

.list-group-item {
    background-color: #E9C2A5;
}
.row{
    font: serif;
}
td{
    font-size: 16pt;
    color: #775218;
}
th{
    font-size: 18pt;
    color: #775218;
}

button {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    background: #D8C3A5;
    cursor: pointer;
    border: 2px solid #d0b083;
    outline: 1px solid;
    outline-color: #d0b083;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover,
button:active,
button:focus {
    box-shadow: inset 0 0 20px #EAE7DC;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}
a {
    color: #775218;
    text-decoration: blink;
    font-size: 18pt;
}
a:hover {
    color: #a27d0f;
}