<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Alkotinder{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'drink/style.css' %}">

</head>
<body>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <header>
        <!-- Image and text -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid" >
              <a class="navbar-brand" href="#">
                  {% load static %}
                  <img src="{% static 'drink/images/image.png' %}" alt="" width="45" height="39">
              </a>
              <a class="navbar-brand" href="#">Alko-tinder</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="navbar-link">
                          <a href="#" class="nav-link" aria-current="page">Drink selection</a>
                      </li>
                      <li class="navbar-link">
                          <a href="#" class="nav-link" >Favorites</a>
                      </li>

                  </ul>
              </div>
          </div>
        </nav>
    </header>
    <section>

        <div class="container-xl">
            <div class="row">
                <div class="col-12 "><h1 align="center">{{ drink }}</h1></div>
                <div class="col-12 align-self-center" align="center">
                    <img src= {{ drink_img }} class="img-thumbnail" width="400px" height="444px" alt="Drink">
                </div>
                <div class="col-12" align="center">
                    <h2 align="center">Instructions</h2>
                    <font size="5">{{ instruction }}</font>
                </div>
                <table class="table table-striped table-hover">
                    <tr>
                        <th width="50%" >Ingredients</th>
                        <th width="50%" >Measures</th>
                    </tr>
                    <td>
                        <ul>
                            {% for ingredient in ingredients %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    </td><td height="5%">
                        <ul>
                            {% for measure in measures %}
                            <li>{{ measure }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </table>
            </div>
        </div>
        <div align="center">
            <button type="button" class="btn btn-primary btn-lg" >Add to favorites</button>
            <button type="button" class="btn btn-secondary btn-lg">Add to blacklist</button>
        </div>

    </section>
</body>
</html>